/* Hero Styles */
.brand-care {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 84px;
  margin-bottom: 122px;
  & .brand-care__content {
    height: max-content;
    max-width: 518px;
  }
  & .brand-care__title {
    font-size: 6.156rem;
    line-height: 105px;
  }
  & .brand-care__tagline {
    font-size: 1.25rem;
    opacity: 0.6;

    margin-top: 1.75rem;
    margin-bottom: 2.75rem;
  }
}

.brand-care__email-input {
  font-size: 1.125rem;

  width: 336px;
  padding: 20px 0px 20px 18px;
  margin-right: 12px;

  border-radius: 37px;
}

.brand-care__submit-btn {
  font-size: 1.125rem;

  color: white;
  background: #3461ff;

  width: 146px;
  height: 64px;

  border-radius: 70px;
  border: none;
  padding: 16px;

  cursor: pointer;
}

.brand-care__image {
  width: 608px;
  height: 735px;
}
