.work-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 804px;
}
.work-container__info {
  width: 50%;
  & .work-container__title {
    font-size: 4rem;
    font-weight: 700;
  }
  & .work-container__description {
    font-size: 1.125rem;
    line-height: 36px;
    opacity: 60%;

    width: 500px;
  }
  & .work-container__image {
    margin-top: 82px;
  }
}

.work-container__cards {
  display: flex;
  flex-direction: column;

  width: 50%;
  gap: 42px;
}
